@media only screen and (max-width: 767px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .content-container {
    display: flex;
    flex-direction: column;
  }
  .container .icon {
    text-align: center;
  }
  .container .content {
    width: 100%;
  }
  #scopes h3 {
    text-align: center;
  }
}
