* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section > .container {
  max-width: 1170px;
  margin: auto;
  min-height: 95%;
  background-color: #d4d1d1;
  margin: 10px 10px;
}

.grid {
  background-color: blue;
  max-width: 1170px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#Timeline {
  grid-row: 1/3;
  grid-column: 4/5;
}
#goals {
  grid-row: 1/2;
  grid-column: 1/3;
}
#scopes {
  grid-row: 2/3;
  grid-column: 1/3;
}

.content-container {
  height: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 0 10px;
}
.border {
  border-bottom: #0e0d0d 1px solid;
}
.content h3 {
  padding: 10px;
}
.content p {
  padding: 10px;
}
.container h2 {
  padding: 10px;
  color: blue;
  margin: 0 10px;
  border-bottom: #0e0d0d 1px solid;
}
.content-container i {
  padding-right: 20px;
}

.cham {
  position: relative;
  margin-right: 20px;
}
.cham::before {
  content: "";
  position: absolute;
  background-color: rgba(67, 126, 214, 0.4);
  border: #0e0d0d 1px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  left: -6px;
  top: -4px;
}
#Timeline .content-container {
  border-bottom: #2476e0 3px dotted;
}
